/* _popular-categories.scss */
@import '../../css/base/mixins';

.popularCategories {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center; /* Центрируем заголовок */
  
    .popularCategories__title {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    /* Центрируем весь список */
    .popularCategories__list {
      margin-top: 20px;
      display: flex;
      justify-content: center; /* Центрируем элементы */
      flex-wrap: wrap;
      gap: 20px;
    }
  
    /* Стили для карточек */
    .popularCategories__card {
      background-color: #f9f9f9;
      border-radius: 6px;
      padding: 20px;
      text-align: center;
      width: 180px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


      &Title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
      }
  
      .popularCategories__positions {
        font-size: 0.9rem;
        color: #666;
      }
    }
  
    .popularCategories__icon {
      width: 50px;
      margin-bottom: 8px;
    }
  }