// src/assets/scss/main.scss
@import './base/reset';
@import './base/variables';
@import './base/mixins';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body, button, input {
  font-family: Manrope;
}

.homePage {
    padding-top: 160px; // Отступ равен высоте Header
}

.findJobsPage {
  min-height: 115vh;
  padding-top: 190px;
  max-width: 1400px;  /* Максимальная ширина */
  width: 100%;        /* Занимает всю ширину, если экран уже 1200px */
  margin-left: auto;  /* Центрирование */
  margin-right: auto; /* Центрирование */
  padding-left: 16px; /* Защитные отступы слева */
  padding-right: 16px; /* Защитные отступы справа */
  box-sizing: border-box; /* Чтобы padding не увеличивал ширину */ 
}

.findJobsPage h1 {
  font-size: 2rem;
  font-weight: 7000;
  margin-bottom: 30px; /* регулируйте, если нужен отступ как на первом скрине */
  text-align: center;  /* вот здесь центрируем */
  color: #333;
}

.findJobsPage__banner {
  background-color: #f0f0f0;
  padding: 20px 20px;
  border-radius: 0px;
  text-align: center;
  margin-bottom: 0;
}

.findJobsPage__bannerText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* src/pages/DetailedJobPage.scss */

.detailedJobPage {  
    min-height: 115vh;    
    padding-top: 170px;
    max-width: 1400px;  /* Максимальная ширина */
    width: 100%;        /* Занимает всю ширину, если экран уже 1200px */
    margin-left: auto;  /* Центрирование */
    margin-right: auto; /* Центрирование */
    padding-left: 16px; /* Защитные отступы слева */
    padding-right: 16px; /* Защитные отступы справа */
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */       
  

  .detailedJobPage__banner {
    padding: 20px 20px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0px;
  }
  .detailedJobPage__bannerText {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
}  
