@import '../../css/base/mixins';

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
  
    .footer__top {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin-bottom: 20px;
  
      .footer__col {
        h4 {
          margin-bottom: 10px;
          font-size: 1.1rem;
        }
  
        p,
        a,
        li {
          font-size: 0.75rem;
          color: #ccc;
        }
  
        a {
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  
    .footer__bottom {
      border-top: 1px solid #444;
      padding-top: 15px;
      text-align: center;
      font-size: 0.85rem;
  
      p {
        color: #aaa;
      }
    }
  }