/* src/components/FindJobsHeader.scss */

.jobsHeader {
    
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 25px 0;
  
    /* Верхняя навигация */
    .jobsHeader__nav {
        width: 100%;
      padding: 10px 40px;
      background-color: #fff;
  
      .jobsHeader__navList {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0;
        padding: 0;
      }
  
      .jobsHeader__navItem {
        a {
          color: #333;
          text-decoration: none;
          font-size: 14px;
          transition: color 0.2s;
  
          &:hover {
            color: #2979ff;
          }
        }
      }
    }
  
    /* Нижняя часть шапки */
    .jobsHeader__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 40px;
      gap: 30px;
  
      .jobsHeader__logo {
        width: 40px; /* уменьшенный логотип */
        height: auto;
      }
  
      .jobsHeader__searchWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-grow: 1;
        max-width: 1900px;
      }
  
      .jobsHeader__myJob {
        font-weight: bold;
        font-size: 1.3rem;
      }
  
      .jobsHeader__search {
        flex-grow: 1;
        width: 100%;
        max-width: 900px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
      }
    }
  }