/* src/components/FindJobs/FindJobsNav.scss */
.findJobsNav {
    .findJobsNav__list {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 20px;
      padding: 0;
    }
  
    .findJobsNav__link {
      text-decoration: none;
      font-size: 1rem;
      color: #333;
      transition: color 0.2s;
  
      &:hover {
        color: #2979ff;
      }
    }
  }